body {
  background-color: #cbc4cb;
  height: 100%;
  margin: 0;
  padding: 0;
}

.center-div {
  position: relative;
  height: 100%;
  width: 100%;
}

.center-div img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}